.heading {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 0.5fr;
    height: 40px;
    position: relative;
    width: 80%;
    overflow: hidden;
    background: rgb(40 79 40);
    border-radius: 2px;
}

.heading>li,.items>li{
    list-style: none;
    position: relative;
    overflow:hidden;
    display: flex;
    align-items: center;
    padding: 0 7px;
    gap: 6px;
    width: auto;
    position: relative;
}
.items>li>span {
    cursor: pointer;
    position: absolute;
    right: 0;
}


.passwords {
    height: auto;
    width: 100%;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: white;
    margin-top: 27px;
}

.items {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 0.5fr;
    height: 40px;
    position: relative;
    width: 80%;
    overflow: hidden;
    background: rgb(89, 140, 89);
}

.items>li:last-child {
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.items>li:last-child>span {
    position: relative;
}